<%- include('../layouts/header', {title : 'TODO-List'}) %>

<%- include('../layouts/menu') %>

<section class="container">
    <div>
        <div class="content">
            <h1 class="title">
                TODO-LIST
            </h1>
            <h2 class="subtitle">
                Geranciando nossas atividades diárias =D
            </h2>
            <a href="/checklists" class="linkButton">Ir para Listas de Atividades!</a>
        </div>
    </div>
</section>

<%- include('../layouts/footer') %>