<form method="post" action="<%= url %>">
  <div class="field">
    <label class="label">Nome</label>
    <div class="control">
      <input class="input" type="text" name="checklist[name]" placeholder="Lista de Tarefas" value="<%= checklist.name %>">
      <% if(checklist.error && checklist.error.hasOwnProperty('name')) { %>
      <p class="is-danger"><%= checklist.error.name.message %></p>
      <% } %>
    </div>
  </div>

  <div class="buttons">
    <button type="submit" class="button is-success">Salvar</button>
    <button class="button is-danger" type="button"><a href="/checklists" class="is-danger">Cancelar</a></button>
  </div>
</form>
