<nav class="navbar">
      <a class="navbar-logo" href="/">
        TODO-LIST
      </a>
      <div class="navbar-burger burger" data-target="navMenuColorblack-example">
        <span></span>
        <span></span>
        <span></span>
      </div>
</nav>